<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= categoryNameC%></title>
</head>
<body>
    <%- include('./partials/nav') %>
<h1><%= categoryNameC%></h1>
<ol>
<% menuItems.forEach((item)=>{ %>

    <li><%= item.name %> - <%= item.details %></li> 
        <ul>
            <li>Price: <%= item.price %></li>
            <li>Rating: <%= item.rating %></li>
            <br>
        </ul>
        <% }) %>
</ol>


</body>
</html>